# This is where the actual raw data structure is in the machine, below is the default
RAW_DATA_ROOT=/srv/lab-data/dados-tp

# This is where the actual bronze layer parquets will be stored, below is the default
BRONZE_ROOT=/data/bronze
